parameters:
  stubFiles:
    - stubs/Livewire/Features/SupportEvents/HandlesEvents.stub
services:
  - class: CalebDW\LarastanLivewire\Properties\ComputedPropertyExtension
    tags: [phpstan.broker.propertiesClassReflectionExtension]
  - class: CalebDW\LarastanLivewire\Errors\UnusedComputedMethodIgnoreExtension
    tags: [phpstan.ignoreErrorExtension]
